.main {
  font-size: 40px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    hsl(299, 50%, 44%) 0%,
    hsl(212, 90%, 40%) 70%,
    hsl(240, 47%, 40%) 100%
  );
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main__content {
  color: #fafafa;
  padding: 30px;
}

.main__checkTest {
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  color: #fafafa;
  background-color: #28bd75;
  font-size: 30px;
  text-decoration: none;
}
