.App {

  background-image: linear-gradient(
    to bottom right,
    hsl(216, 80%, 22%) 0,
    hsl(220, 88%, 20%) 50%,
    hsl(251, 58%, 41%) 70%,
    hsl(297, 57%, 29%) 100%
  );
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
