.registration {
  font-size: 22px;
  width: 100%;
  height: 100vh;
  color: HSL(2, 0%, 98%);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: flex-start;
  align-items: center;
}
.registration__form {
  max-width: 440px;
}
.registration__logo-wrapper {
}
.registration__logo {
  max-width: 150px;
  min-height: 100px;
}
.registration__label-wrapper {
  padding: 26px 5px;
  text-align: left;
}
.registration__label {
  padding-bottom: 20px;
}
.registration__input {
}
.registration__input_invisible {
  display: none;
}
